@using IdentityServer4.Extensions
@inject Microsoft.Extensions.Configuration.IConfiguration configuration

<ul class="navbar-nav ml-auto">
    @if (User.IsAuthenticated()) 
    {
        <!-- Identity Landing Page Link -->
        <li id="identity-home-menu" class="nav-item mr-2">
            <a asp-controller="Home" asp-action="Index" id="identity-home-link" class="py-2">
                Home
            </a>
        </li>

        <!-- User Account Menu -->
        <li class="nav-item ml-2">

            <a class="py-2" asp-controller="Home" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", null)">
                Logout
            </a>


        </li>
    }
    else
    {
        <li class="nav-item mr-2">
            <a class="py-2" asp-controller="Home" asp-action="Register">Register</a>
        </li>
        <li class="nav-item ml-2">
            <a class="py-2" asp-controller="Home" asp-action="Login">Sign in</a>
        </li>
    }
</ul>

