@model StockMicroservices.IdentityServer.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<hr />
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Login</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 ml-0 mr-0 mx-auto">
                <br/>
                <hr/>
                <form asp-action="Login" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="ReturnUrl"/>
                    <div class="form-group">
                        <label asp-for="Username" class="control-label"></label>
                        <input asp-for="Username" class="form-control"/>
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" type="password"/>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div style="display:flex; align-items:center; justify-content:space-between">
                            <input type="submit" value="Login" class="btn btn-primary"/>
                        <div>
    <a asp-controller="Home" asp-action="Register" >Register</a>
</div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
