server {
    listen 80;
    server_name  _;
    
    location / {
    root /usr/share/nginx/html/;
    include /etc/nginx/mime.types;
    
    # Match host using a hostname if you like
    #if ($http_origin ~* (https?://.*\.tarunlalwani\.com(:[0-9]+)?$)) {
           #   set $cors "1";
            #}
            set $cors "1";

            # OPTIONS indicates a CORS pre-flight request
            if ($request_method = 'OPTIONS') {
               set $cors "${cors}o";
            }


            # OPTIONS (pre-flight) request from allowed
            # CORS domain. return response directly
            if ($cors = "1o") {
                add_header 'Access-Control-Allow-Origin' '*' always;
                add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS, PUT, DELETE, PATCH' always;
                add_header 'Access-Control-Allow-Credentials' 'true' always;
                add_header 'Access-Control-Allow-Headers' 'Origin, Content-Type, Accept, Lang, Authorization' always;
                add_header Content-Length 0;
                add_header Content-Type text/plain;
                return 204;
            }

            add_header 'Access-Control-Allow-Headers' 'Origin, Content-Type, Accept, Lang, Authorization';
            #add_header 'Access-Control-Allow-Headers' '*';
            add_header 'Access-Control-Allow-Methods' 'POST,GET,PUT,DELETE,OPTIONS';
            add_header 'Access-Control-Allow-Origin' '*';
    try_files $uri $uri/ /index.html;
  }
}